.Comp {
    background-color: #282c34;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .Comp-input {
    
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Comp-link {
    color: #61dafb;
  }
  