.Test {
    background-color: #282c34;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .Test-input {
    
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Test-link {
    color: #61dafb;
  }
  